.chat__outer-container {
  background-color: #FFFFFF;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__inner-container {
  background-color: #FFFFFF;
  height: 580px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 5px;
  border: 1px solid lightgray;
}