.join__outer-container {
  background-color: rebeccapurple;
}

.join__inner-container {
  background-color: rosybrown;
}

.join__input {
  background-color: seagreen;
}

.join_button {
  margin: 20px;
}