.join__outer-container {
  background-color: #2c68fa;
  
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  height: 100vh;
}

.join__inner-container {
  background-color: #ffffff;

  border-radius: 20px;
  width: 20%;
}

.join__heading {
  color: #2c68fa;
  font-family: 'Roboto', sans-serif;
  font-size: 2.0em;
}

.join__input {
  font-family: 'Roboto', sans-serif;

  border-radius: 5px;
  border: 1px  gray solid;

  box-sizing: border-box;

  margin: 5px 0 0 0;
  padding: 10px 15px;
  width: 70%;
}

.join__button {
  background-color: #2c68fa;

  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  margin: 10px 0;
  padding: 10px;
  width: 70%;

  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}